<table class="wrapper" style="border-collapse: collapse; margin: 0 auto;" width="100%">
    <tbody>
        <tr>
            <td class="wrapper-inner"
                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; padding-bottom: 30px; width: 100%;"
                align="center">
                <table class="main"
                    style="border-collapse: collapse; margin: 0px auto; text-align: left; width: 600px; height: 586px;"
                    align="center">
                    <tbody>
                        <tr style="height: 103px;">
                            <td class="main"
                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; margin: 0px auto; text-align: left; width: 602px; height: 103px;">
                                <a class="logo" style="color: #1979c3; text-decoration: none;"
                                    href="https://baggotstreetwines.com/?utm_source=newsletter&amp;utm_medium=email">
                                    <img style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;"
                                        src="https://baggotstreetwines.com/media/email/bsw-header.jpg"
                                        alt="Baggot Street Wines" width="600" border="0"> </a></td>
                        </tr>
                        <tr style="height: 10px;">
                            <td class="main-content"
                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; background-color: #ffffff; padding: 0px; height: 10px; width: 604px;">
                                <!-- End Header Template --> {{widget type="Annex\Widgets\Block\Widget\Email\BgColor"
                                cms_block_identifier="newsletter_websiteandxmasgifts2021" color="#002437"}}
                                <p style="text-align: left;"><span style="font-size: 20px;">You might have noticed that
                                        things are looking a bit different at Baggot Street Wines. Fresher, and a
                                        bit more.. modern. That's because we've recently launched our <a
                                            href="https://baggotstreetwines.com/?utm_source=newsletter&amp;utm_medium=email"><strong>brand
                                                new website</strong></a>, just in time for Christmas! Our venerable old
                                        website has been retired. As it essentially pre dated smartphones, you can
                                        imagine our new offering is going to run a bit smoother. We've also made all our
                                        products easier to find and to purchase and wrapped it all up in a more
                                        contemporary design with all the hip new colours that the kids are raving about.
                                        Also, your eyes do not deceive you, that's a brand new logo, and we've thrown
                                        'Spirits' into our name to remind you about our huge selection. Oh and those
                                        photos are all from a photoshoot we put together specially for the new site, how
                                        fancy!</span></p>
                                <p style="text-align: left;"><span style="font-size: 20px;">I'm sure most of you are in
                                        full Christmas shopping mode already, or at least thinking about it. So we're
                                        also delighted to present our <strong>Christmas Gift section</strong> of the new
                                        website with all of the <strong>Wine, Spirits, and Beer gifts</strong> you'll
                                        need for the holiday season. You can check it our with the link below and browse
                                        around the new website while you're there. We've also highlighted a few great
                                        Christmas gift options below to get you started!</span></p>
                                <p>{{widget type="Annex\Widgets\Block\Widget\Email\Button" text="Shop Our Christmas Gift
                                    Section" link="https://baggotstreetwines.com/gifts/all.html"}}</p>
                                <p>&nbsp;</p>
                                <h6 style="text-align: center;"><span
                                        style="color: #000000; font-size: 24px;"><strong>Check Out some of Our Favourite
                                            Gifts</strong></span></h6>
                                <p>{{widget type="Annex\Widgets\Block\Widget\Email\ImageCards"
                                    img_1="newsletter_images/xmas_classics_wood.jpeg" text_1="Christmas Classics in
                                    Wood" img_2="newsletter_images/theclassics.jpeg" text_2="The Classics in Wood"}}</p>
                                <p>{{widget type="Annex\Widgets\Block\Widget\Email\ImageCards"
                                    img_1="newsletter_images/IMG_5345.jpeg" text_1="Old World Duo in Wood"
                                    link_1="https://baggotstreetwines.com/old-world-duo-wood-presentation-web.html"
                                    img_2="newsletter_images/gosset_gift_pack.jpeg" text_2="Gosset Grande Reserve
                                    Gift"}}</p>
                                <p>&nbsp;</p>
                                <!-- Begin Footer Template -->
                            </td>
                        </tr>
                        <tr style="height: 69px;">
                            <td
                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; background-color: #f4f4f4; height: 69px; width: 602px;">
                                <table class="main"
                                    style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;"
                                    align="center">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; text-align: center; padding-top: 20px; padding-bottom: 20px;">
                                                <a style="color: #1979c3; text-decoration: none;"
                                                    href="https://baggotstreetwines.com/?utm_source=newsletter&amp;utm_medium=email">
                                                    <img style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;"
                                                        src="https://baggotstreetwines.com/media/email/bsw-footer-logo.png"
                                                        alt="Baggot Street Wines" width="300" border="0"> </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="height: 114px;">
                            <td
                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; background-color: #f4f4f4; height: 114px; width: 602px;">
                                <table class="main"
                                    style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;"
                                    align="center">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; text-align: center;">
                                                <p
                                                    style="color: #002a3e; margin-top: 0; font-size: 28px; margin-bottom: 0;">
                                                    Talk to us today</p>
                                                <p
                                                    style="margin-top: 0; font-size: 32px; font-weight: 900; margin-bottom: 0;">
                                                    <strong style="font-weight: bold;"><a
                                                            style="text-decoration: none; color: #002a3e;"
                                                            href="tel:+35316673033">+353 1 667 3033</a></strong></p>
                                                <p
                                                    style="color: #002a3e; margin-top: 0; margin-bottom: 10px; font-size: 18px; font-weight: 900;">
                                                    17 Upper Baggot Street, D04 V4P5, Ireland</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="height: 92px;">
                            <td
                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; background-color: #f4f4f4; text-align: center; height: 92px; width: 602px;">
                                <table class="main"
                                    style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;"
                                    align="center">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; text-align: center; padding-top: 20px; padding-bottom: 20px;">
                                                <a style="color: #1979c3; text-decoration: none; margin: 25px auto;"
                                                    href="https://baggotstreetwines.com/?utm_source=newsletter&amp;utm_medium=email">
                                                    <img style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;"
                                                        src="https://baggotstreetwines.com/media/email/bsw-cta.png"
                                                        alt="Baggot Street Wines" width="400" border="0"> </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="height: 31px;">
                            <td class="main-content"
                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; background-color: #f4f4f4; padding: 0px; height: 31px; width: 604px;">
                                <table class="main"
                                    style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;"
                                    align="center">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; text-align: right;">
                                                <a style="color: #1979c3; text-decoration: none;"
                                                    href="https://www.facebook.com/BaggotStWines"><img
                                                        style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;"
                                                        src="https://baggotstreetwines.com/media/email/bsw-fb.png"
                                                        alt="Facebook" width="25" height="25" border="0"></a></td>
                                            <td
                                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; text-align: center;">
                                                <a style="color: #1979c3; text-decoration: none;"
                                                    href="https://instagram.com/baggotstreetwines"><img
                                                        style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;"
                                                        src="https://baggotstreetwines.com/media/email/bsw-ig.png"
                                                        alt="Instagram" width="25" height="25" border="0"></a></td>
                                            <td
                                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; text-align: left;">
                                                <a style="color: #1979c3; text-decoration: none;"
                                                    href="https://twitter.com/Baggotstwines"><img
                                                        style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none;"
                                                        src="https://baggotstreetwines.com/media/email/bsw-tw.png"
                                                        alt="Twitter" width="25" height="25" border="0"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="height: 167px;">
                            <td class="main-content"
                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; background-color: #f4f4f4; text-align: center; padding: 0px; height: 167px; width: 604px;">
                                <table class="main"
                                    style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;"
                                    align="center">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
                                                <img style="border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; width: 600px;"
                                                    src="https://baggotstreetwines.com/media/email/newsletter-skyline.png"
                                                    alt="Dublin Skyline" width="600" border="0"></td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; color: white; text-align: center; padding: 20px 0; background-color: #d44623;">
                                                <p style="margin-top: 0; margin-bottom: 10px;">Copyright © 2021 Baggot
                                                    Street Wines and Spirits. All Rights Reserved</p>
                                                <p style="color: white; text-decoration: none;"><a
                                                        style="font-size: small; color: white; text-decoration: none;"
                                                        href="{{var subscriber.getUnsubscriptionLink()}}">unsubscribe
                                                        from this list </a></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>