<?php
/** \Annex\Widgets\Block\Widget\Cms80 $block */
$identifier = $block->escapeHtml($block->getData('cms_block_identifier'));
$color = $block->escapeHtml($block->getData('color'));
?>

<table class="main" style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;background-color:<?= $color; ?>" align="center">
    <tr>
        <td style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;padding: 15px 0;">
            <?= $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($identifier)->toHtml(); ?>
        </td>
    </tr>
</table>