

<?php

$text = $block->escapeHtml($block->getData('text'));
$link = (strlen($block->escapeHtml($block->getData('link'))) > 1 ? true : false);
$tracking = '?utm_source=newsletter&utm_medium=email&utm_campaign=' . date("Y-m-d");

?>

<table class="main" style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;" align="center">
    <tr>
        <td width="20%"></td>
        <td style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;padding:10px 0;text-align:center;background-color: #fe9a00;">
            <div>
                <!--[if mso]>
                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="<?= $block->escapeHtml($block->getData('link')); ?>" style="height:35px;v-text-anchor:middle;width:300px;" arcsize="10%" stroke="f" fillcolor="#fe9a00">
                <w:anchorlock/>
                <center>
                <![endif]-->
                <a target="_blank" href="<?= $block->escapeHtml($block->getData('link')) . $tracking; ?>" style="background-color:#fe9a00;color:#ffffff;display:inline-block;font-family: Helvetica, Arial, sans-serif;font-weight:bold;line-height:35px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none;"><span style="color:white;"><?= $text ?></span></a>
                <!--[if mso]>
                </center>
                </v:roundrect>
                <![endif]-->
            </div>
        </td>
        <td width="20%"></td>
    </tr>
</table>
<table class="main" style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;" align="center">
    <tr>
        <td style="padding:15px 0;"></td>
    </tr>
</table>