<?php

$tracking = '?utm_source=followup&utm_medium=email&utm_campaign=' . date("Y-m-d");
?>
<!-- Begin Footer Template -->
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #f4f4f4;">
                            <table class="main" align="center">
                                <tr>
                                    <td style="text-align:center;padding-top:20px;padding-bottom:20px;">
                                        <a href="https://baggotstreetwines.com/<?= $tracking ;?>">
                                            <img width="300" src="https://baggotstreetwines.com/media/email/bsw-footer-logo.png" alt="Baggot Street Wines" border="0" /></div>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #f4f4f4;">
                            <table class="main" align="center">
                                <tr>
                                    <td style="text-align:center;">
                                        <p style="font-size: 28px;margin-bottom: 0;">Talk to us today</p>
                                        <p style="font-size: 32px;font-weight: 900;margin-bottom: 0;"><strong><a style="color: #002a3e!important;" href="tel:+35316673033">+353 1 667 3033</a></strong></p>
                                        <p style="font-size: 18px;font-weight: 900;">17 Upper Baggot Street, Dublin, D04 V4P5, Ireland</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #f4f4f4;text-align: center;">
                            <table class="main" align="center">
                                <tr>
                                    <td style="text-align: center;padding-top:20px;padding-bottom: 20px;">
                                        <a href="https://baggotstreetwines.com/<?= $tracking ;?>" style="margin: 25px auto;">
                                            <img width="400" src="https://baggotstreetwines.com/media/email/bsw-cta.png" alt="Baggot Street Wines" border="0" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="main-content" style="background-color: #f4f4f4;padding:0!important;">
                            <table class="main" align="center">
                                <tr>
                                    <td style="text-align: right;">
                                        <a href="https://www.facebook.com/BaggotStWines"><img height="25" width=25" src="https://baggotstreetwines.com/media/email/bsw-fb.png" alt="Facebook" border="0" /></a>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="https://instagram.com/baggotstreetwines"><img  height="25" width=25" src="https://baggotstreetwines.com/media/email/bsw-ig.png" alt="Instagram" border="0" /></a>
                                    </td>
                                    <td style="text-align: left;">
                                    <a href="https://twitter.com/Baggotstwines"><img  height="25" width="25" src="https://baggotstreetwines.com/media/email/bsw-tw.png" alt="Twitter" border="0" /></a>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="main-content" style="background-color: #f4f4f4;padding:0!important;text-align: center;">
                            <table class="main" align="center">
                                <tr>
                                    <td>
                                        <img width="600" style="width:600px;" src="https://baggotstreetwines.com/media/email/newsletter-skyline.png" alt="Dublin Skyline" border="0" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:white;text-align:center;padding:20px 0;background-color: #d44623;">
                                        <p>Copyright © <?= date("Y") ?> Baggot Street Wines and Spirits. All Rights Reserved</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>