

<?php

$img = $block->escapeHtml($block->getData('img'));
$link = (strlen($block->escapeHtml($block->getData('link'))) > 1 ? true : false);
$tracking = '?utm_source=newsletter&utm_medium=email&utm_campaign=' . date("Y-m-d");
?>

<table class="main" style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;" align="center">
    <tr>
        <td>
        <?php if($link): ?>
            <a target="_blank" href="<?= $product['url'] . $tracking; ?>">
                <img width="600" alt="Banner Image" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->getBaseUrl() . 'media/' . $img ?>?w=600&func=fit&bg_color=white">
            </a>
        <?php else: ?>
            <img width="600" alt="Banner Image" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->getBaseUrl() . 'media/' . $img ?>?w=600&func=fit&bg_color=white">
        <?php endif; ?>
        </td>
    </tr>
</table>