

<?php

$img_one = $block->escapeHtml($block->getData('img_1'));
$text_one = $block->escapeHtml($block->getData('text_1'));
$link_one = (strlen($block->escapeHtml($block->getData('link_1'))) > 1 ? true : false);

$img_two = $block->escapeHtml($block->getData('img_2'));
$text_two = $block->escapeHtml($block->getData('text_2'));
$link_two = (strlen($block->escapeHtml($block->getData('link_2'))) > 1 ? true : false);

$tracking = '?utm_source=newsletter&utm_medium=email&utm_campaign=' . date("Y-m-d");

?>
<table class="main" style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;" align="center">
    <tr>
        <td style="text-align:center;">
        <?php if($link_one): ?>
            <a href="<?= $block->escapeHtml($block->getData('link_1')) . $tracking; ?>" style="text-decoration:none;color:black;">
                <img height="250" width="250" style="width:250px;height:250px;object-fit: cover;" src="<?= $block->getBaseUrl() . 'media/' . $img_one ?>">
                <p style="font-weight: 600;color: #002a3e;"><?= $text_one ?></p>
            </a>
        <?php else: ?>
            <img height="250" width="250" style="width:250px;height:250px;" src="<?= $block->getBaseUrl() . 'media/' . $img_one ?>">
            <p style="font-weight: 600;color: #002a3e;"><?= $text_one ?></p>
        <?php endif; ?>
        </td>
        <td style="text-align:center;">
        <?php if($link_two): ?>
            <a href="<?= $block->escapeHtml($block->getData('link_2')) . $tracking; ?>" style="text-decoration:none;color:black;">
                <img height="250" width="250" style="width:250px;height:250px;object-fit: cover;" src="<?= $block->getBaseUrl() . 'media/' . $img_two ?>">
                <p style="font-weight: 600;color: #002a3e;"><?= $text_two ?></p>
            </a>
        <?php else: ?>
            <img height="250" width="250" style="width:250px;height:250px;" src="<?= $block->getBaseUrl() . 'media/' . $img_two ?>">
            <p style="font-weight: 600;color: #002a3e;"><?= $text_two ?></p>
        <?php endif; ?>
        </td>
    </tr>
</table>