

<?php

$img_one = $block->escapeHtml($block->getData('img_1'));
$text_one = $block->escapeHtml($block->getData('text_1'));
$link_one = (strlen($block->escapeHtml($block->getData('link_1'))) > 1 ? true : false);

$img_two = $block->escapeHtml($block->getData('img_2'));
$text_two = $block->escapeHtml($block->getData('text_2'));
$link_two = (strlen($block->escapeHtml($block->getData('link_2'))) > 1 ? true : false);

?>
<div style="width:600px;margin:20px auto;text-align: center;">
<div style="width: 250px;display: inline-block;">
    <?php if($link_one): ?>
    <a href="<?= $block->escapeHtml($block->getData('link_1')); ?>" style="text-decoration:none;color:black;">
        <img style="width:250px;height:250px;object-fit: cover;" src="<?= $block->getBaseUrl() . 'media/' . $img_one ?>">
        <p><?= $text_one ?></p>
    </a>
    <?php else: ?>
    <img style="width:250px;height:250px;" src="<?= $block->getBaseUrl() . 'media/' . $img_one ?>">
    <p><?= $text_one ?></p>
    <?php endif; ?>
</div>
<div style="width:20px;display: inline-block;"></div>
<div style="width: 250px;display: inline-block;">
    <?php if($link_two): ?>
    <a href="<?= $block->escapeHtml($block->getData('link_2')); ?>" style="text-decoration:none;color:black;">
        <img style="width:250px;height:250px;object-fit: cover;" src="<?= $block->getBaseUrl() . 'media/' . $img_two ?>">
        <p><?= $text_two ?></p>
    </a>
    <?php else: ?>
    <img style="width:250px;height:250px;" src="<?= $block->getBaseUrl() . 'media/' . $img_two ?>">
    <p><?= $text_two ?></p>
    <?php endif; ?>
</div>
</div>

<table class="main" style="border-collapse: collapse; margin: 0 auto; text-align: left; width: 600px;" align="center">
    <tr>
        <td style="text-align:center;">
        <?php if($link_one): ?>
            <a href="<?= $block->escapeHtml($block->getData('link_1')); ?>" style="text-decoration:none;color:black;">
                <img style="width:250px;height:250px;object-fit: cover;" src="<?= $block->getBaseUrl() . 'media/' . $img_one ?>">
                <p><?= $text_one ?></p>
            </a>
        <?php else: ?>
            <img style="width:250px;height:250px;" src="<?= $block->getBaseUrl() . 'media/' . $img_one ?>">
        <?php endif; ?>
        </td>
        <td style="text-align:center;">
        <?php if($link_two): ?>
            <a href="<?= $block->escapeHtml($block->getData('link_2')); ?>" style="text-decoration:none;color:black;">
                <img style="width:250px;height:250px;object-fit: cover;" src="<?= $block->getBaseUrl() . 'media/' . $img_two ?>">
                <p><?= $text_two ?></p>
            </a>
        <?php else: ?>
            <img style="width:250px;height:250px;" src="<?= $block->getBaseUrl() . 'media/' . $img_two ?>">
        <?php endif; ?>
        </td>
    </tr>
</table>