<?php
/** \Annex\Widgets\Block\Widget\Email\Followup\Cart $block */

$imageHelper = $this->helper('Magento\Cms\Helper\Wysiwyg\Images');
$cart = $block->getData('cart');

if($quote_items = $block->getData('quote')) {
    if($quote_items = $block->getData('items')) {
        $products = $block->getQuoteProducts($quote->getId());
    }
} else {
    $quote = true;
    $products = $block->getQuoteProducts(111);
}

if($customer_email = $block->getData('custemail')) {
    $customer = $block->getCustomer($customer_email);
    $greeting = ($customer ? "Dear " . $customer->getFirstname() . "," : "Dear Wonderful Customer,");
} else {
    $greeting = "Dear Wonderful Customer,";
}
?>
<?php if($quote): ?>
<table class="main" align="center">
    <tr>
        <td style="padding-bottom: 20px;">
            <img width="600" src="https://baggotstreetwines.com/media/email/Abondoned-cart.jpg" alt="Baggot Street Wines">
        </td>
    </tr>
    <tr>
        <td>
            <table class="main" align="center">
                <tr>
                    <td>
                        <p><?= $greeting; ?></p>
                        <p>Many thanks for visiting our website and browsing our range. Thanks for supporting a small family Irish run business like ourselves.</p>
                        <p>We cannot deliver these fab items to you yet because you haven't completed your purchase.</p>
                        <p>Please click <a href="<?= $cart ?>">here</a> to restore your cart.</p>
                        <p>And of course the whole team is always just a phone call or email away to answer any questions you might have.</p>
                        <p>Many thanks,<br>The Baggot Street Wines & Spirits Team</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="main" align="center">
                <tr>
                    <td style="text-align:center;">
                        <h2>YOUR SHOPPING BASKET</h2>
                        <hr>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <?php foreach($products as $product): ?>
    <tr>
        <td>
            <table class="main" align="center">
                <tr>
                    <td width="25%">
                        <a target="_blank" href="<?= $product['url']; ?>">
                            <img width="100" height="100" src="<?= $imageHelper->getBaseUrl() . 'catalog/product' . $product['img'] ?>">
                        </a>
                    </td>
                    <td style="vertical-align: middle;">
                        <a target="_blank" href="<?= $product['url']; ?>">
                            <span style="font-size: 18px;font-weight: 700;color:#002437;"><?= $product['name'] ?></span>
                        </a>
                    </td>
                    <td width="25%" style="vertical-align: middle;text-align: center;">
                        <a target="_blank" href="<?= $product['url']; ?>">
                            <strong style="font-size: 18px;color:#002437;">€<?= round($product['price'], 3); ?></strong>
                        </a>
                    </td>
                </tr>
            </table>
            <table class="main" align="center">
                <tr>
                    <td>
                        <hr>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <?php endforeach; ?>
    <tr>
        <td>
            <table class="main" align="center">
                <tr>
                    <td style="padding:10px 0;text-align:center;background-color: #fe9a00;">
                        <a target="_blank" style="background-color:#fe9a00;margin-top: 10px;max-width: 300px;margin-left: auto; margin-right: auto;" href="<?= $cart ?>">
                            <span style="font-weight:600!important;color: white!important;">Go To Your Cart</span>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="main" align="center">
                <tr>
                    <td style="padding:10px 0;"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<?php endif; ?>