<?php
/** \Annex\Widgets\Block\Widget\Email\Followup\OrderTest $block */

$helper = $this->helper(Annex\Helper\Helper\Product::class);

if($customer_email = $block->getData('custemail')) {
    if($customer_id = $block->getCustomer($customer_email)) {
        $last_order = $block->getLastestOrder($customer_id);
        $collection = $block->getLastestOrderItems($last_order);
        $collection_categories = $block->getLastestOrderCategories($collection);
    }
} else {
    $customer_email = "viniciusbkc@gmail.com";
    $customer_id = $block->getCustomer('viniciusbkc@gmail.com');
    $last_order = $block->getLastestOrder($customer_id);
    $collection = $block->getLastestOrderItems($last_order);
    $collection_categories = $block->getLastestOrderCategories($collection);
}
// $product = $helper->getTheProduct(179);
// $categories = $helper->getProductCategories($product);
?>
<?php if($customer_id): ?>
<div class="cms-80 section">
    <p>Customer ID: <?= $customer_id ?></p>
    <p>Customer Email: <?= $customer_email ?></p>
    <p>Last Order Entity ID: <?= $last_order->getIncrementId() ?></p>

    <ul>
        <?php foreach($collection as $item): ?>
            <li><?= $item->getName(); ?></li>
            <li><?= $item->getProductId(); ?></li>
        <?php endforeach;?>
    </ul>

</div>
<?php endif; ?>




