<?php
/** \Annex\Widgets\Block\Widget\Email\Followup\OrderTest $block */

$helper = $this->helper(Annex\Helper\Helper\Product::class);
$imageHelper = $this->helper('Magento\Cms\Helper\Wysiwyg\Images');

if($customer_email = $block->getData('custemail')) {
    if($customer_id = $block->getCustomer($customer_email)) {
        $last_order = $block->getLastestOrder($customer_id);
        $order_collection = $block->getLastestOrderItems($last_order);
        $collection_categories = $block->getLastestOrderCategories($order_collection);
        $data = $block->getTemplateData($collection_categories);
    }
} else {
    $customer_id = true;
//    $data = $block->getTemplateData([119, 115, 114]);
    $data = $block->getTemplateData([24, 31, 3]);
}
?>

<?php if($data): ?>
<table class="main" align="center">
    <tr>
        <td>
            <img src="https://baggotstreetwines.com/media/email/Abondoned-cart.jpg" alt="Baggot Street Wines">
        </td>
    </tr>
    <tr>
        <td style="padding-top: 20px;padding-bottom: 20px;">
            <p>Hi,</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus nisi quis ligula pellentesque, nec molestie nulla hendrerit. Maecenas faucibus non nisi in lacinia. Etiam bibendum nunc ut condimentum egestas.</p>
        </td>
    </tr>
</table>

<?php foreach($data['blocks'] as $section): ?>
    <?php if(count($section['products']) > 3): ?>

<table class="main" align="center">
    <tr>
        <td> <h2 style="text-align:center;font-weight: 700!important;"><?= $section['name']; ?></h2></td>
    </tr>
</table>

<table class="main" align="center">
    <tr>
    <?php foreach($section['products'] as $product): ?>
        <td width="25%" style="padding:10px;padding: 10px; border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 5px;">
            <table align="center">
                <tr>
                    <td>
                        <a href="<?= $product['url']; ?>">
                            <img width="125" height="125" alt="<?= $product['name']; ?>" src="<?= $imageHelper->getBaseUrl() . 'catalog/product' . $product['img']; ?>" alt="<?= $product['name']; ?>">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="<?= $product['url']; ?>">
                            <span style="font-size: 14px;font-weight: 600;color: #002437;"><?= $product['name']; ?></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 10px;">
                        <a href="<?= $product['url']; ?>">
                            <span style="color: #2e2e2e;font-size: 14px;font-weight: 700;">€<?= round($product['price'], 3); ?></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#fe9a00;text-align:center;padding: 5px 0;">
                    <a style="" href="<?= $product['url']; ?>">
                        <span style="line-height: 14px;font-weight:600!important;color: white!important;">Details</span>
                    </a>
                    </td>
                </tr>
            </table>
        </td>
    <?php endforeach; ?>
    </tr>
</table>
<hr>
<?php endif; ?>
<?php endforeach; ?>

<table class="main" align="center">
    <tr>
        <td style="padding-top: 20px;padding-bottom: 20px;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus nisi quis ligula pellentesque, nec molestie nulla hendrerit. Maecenas faucibus non nisi in lacinia. Etiam bibendum nunc ut condimentum egestas.</p>
        </td>
    </tr>
</table>

<?php endif; ?>