<?php
/** \Annex\Widgets\Block\Widget\Email\Followup\OrderTest $block */

$helper = $this->helper(Annex\Helper\Helper\Product::class);
$imageHelper = $this->helper('Magento\Cms\Helper\Wysiwyg\Images');

if($customer_email = $block->getData('custemail')) {
    $customer = $block->getCustomer($customer_email);
    $greeting = ($customer ? "Dear " . $customer->getFirstname() . "," : "Dear Wonderful Customer,");
    $last_order = $block->getLastestOrder($customer_email);
    $order_collection = $block->getLastestOrderItems($last_order);
    $collection_categories = $block->getLastestOrderCategories($order_collection);
    $data = $block->getTemplateData($collection_categories);
} else {
//    $data = $block->getTemplateData([119, 115, 114]);
    $data = $block->getTemplateData([24, 31, 3]);
    $greeting = "Dear Wonderful Customer,";
}
?>
<?php if($data): ?>
<table class="main" align="center">
    <tr>
        <td>
            <img src="https://baggotstreetwines.com/media/email/Abondoned-cart.jpg" alt="Baggot Street Wines">
        </td>
    </tr>
    <tr>
        <td style="padding-top: 20px;padding-bottom: 20px;">
            <p><?= $greeting ?></p>
            <p>We wanted to reach out to thank you for your recent purchase. </p>
            <p>As a small family run Irish business your support means everything to us.</p>
            <p>We hope you thoroughly enjoyed your items and we wanted to give you some inspiration below for future shopping.</p>
            <p>And of course the whole team is always just a phone call or email away to answer any questions you might have.</p>
            <p>Many thanks,<br>The Baggot Street Wines & Spirits Team</p>
        </td>
    </tr>
</table>

<?php foreach($data['blocks'] as $section): ?>
    <?php if(count($section['products']) > 3): ?>

<table class="main" align="center">
    <tr>
        <td> <h2 style="text-align:center;font-weight: 700!important;"><?= $section['name']; ?></h2></td>
    </tr>
</table>

<table class="main" align="center">
    <tr>
    <?php foreach($section['products'] as $product): ?>
        <td width="25%" style="padding:10px;padding: 10px; border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 5px;">
            <table align="center">
                <tr>
                    <td>
                        <a target="_blank" href="<?= $product['url']; ?>">
                            <img width="125" height="125" alt="<?= $product['name']; ?>" src="https://aonndpeydo.cloudimg.io/v7/<?= $imageHelper->getBaseUrl() . 'catalog/product' . $product['img']; ?>?w=125&h=125&%20func=fit&bg_color=white" alt="<?= $product['name']; ?>">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a target="_blank" href="<?= $product['url']; ?>">
                            <span style="font-size: 14px;font-weight: 600;color: #002437;"><?= $product['name']; ?></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 10px;">
                        <a target="_blank" href="<?= $product['url']; ?>">
                            <span style="color: #2e2e2e;font-size: 14px;font-weight: 700;">€<?= round($product['price'], 3); ?></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="background-color:#fe9a00;text-align:center;padding: 5px 0;">
                        <div>
                            <!--[if mso]>
                            <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="<?= $product['url']; ?>" style="height:30px;v-text-anchor:middle;width:120px;" arcsize="10%" stroke="f" fillcolor="#fe9a00">
                            <w:anchorlock/>
                            <center>
                            <![endif]-->
                            <a target="_blank" href="<?= $product['url']; ?>" style="background-color:#fe9a00;color:#ffffff;display:inline-block;font-family: Helvetica, Arial, sans-serif;font-weight:bold;line-height:25px;text-align:center;text-decoration:none;-webkit-text-size-adjust:none;"><span style="color:white;">Details</span></a>
                            <!--[if mso]>
                            </center>
                            </v:roundrect>
                            <![endif]-->
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    <?php endforeach; ?>
    </tr>
</table>
<hr>
<?php endif; ?>
<?php endforeach; ?>
<?php endif; ?>
