<?php
/** \Annex\Widgets\Block\Widget\Email\Followup\Cart $block */

$helper = $this->helper(Annex\Helper\Helper\Product::class);

$imageHelper = $this->helper('Magento\Cms\Helper\Wysiwyg\Images');

if($customer_email = $block->getData('custemail')) {
    $customer = $block->getCustomer($customer_email);
    $greeting = ($customer ? "Dear " . $customer->getFirstname() . "," : "Dear Wonderful Customer,");
    $last_order = $block->getLastestOrder($customer_email);
    $order_collection = $block->getLastestOrderItems($last_order);
} else {
    $customer_email = "paypal@siqueira.ie";
    $last_order = $block->getLastestOrder($customer_email);
    $order_collection = $block->getLastestOrderItems($last_order);
    $greeting = "Dear Wonderful Customer,";
}
?>
<?php if($order_collection): ?>
<table class="main" align="center">
<tr>
        <td style="padding-bottom: 20px;">
            <img width="600" src="https://baggotstreetwines.com/media/email/email-image.jpg" alt="Baggot Street Wines">
        </td>
    </tr>
    <tr>
        <td style="padding-top:10px;">
            <table class="main" align="center">
                <tr>
                    <td>
                        <p><?= $greeting ?></p>
                        <p>Now that you've had some time to enjoy your bottle we'd love if we could get your feedback.</p>
                        <p>Leave a short review of your purchase and help others choose the perfect Wine, Spirit, or Beer. </p>
                        <p>We're also always happy to hear your views directly, just give us a call, email, or even drop in if you're nearby.</p>
                        <p>Many thanks,<br>The Baggot Street Wines & Spirits Team</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="main" align="center">
                <tr>
                    <td style="text-align:center;">
                        <hr>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <?php foreach($order_collection as $product): ?>
    <tr>
        <td>
            <table class="main" align="center">
                <tr>
                    <td width="25%">
                        <a target="_blank" href="<?= $product['url']; ?>#reviewform">
                            <img width="100" height="100" src="<?= $imageHelper->getBaseUrl() . 'catalog/product' . $product['img'] ?>">
                        </a>
                    </td>
                    <td style="">
                        <table width="100%">
                            <tr>
                                <td style="">
                                    <a target="_blank" href="<?= $product['url']; ?>#reviewform">
                                        <span style="font-size: 18px;font-weight: 700;color:#002437;"><?= $product['name'] ?></span>
                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table width="100%">
                                        <tr>
                                            <td style="padding-top:5px;">
                                                <a target="_blank" href="<?= $product['url']; ?>#reviewform">
                                                    <img width="15" height="15" src="https://baggotstreetwines.com/media/email/rating_star.png">
                                                    <img width="15" height="15" src="https://baggotstreetwines.com/media/email/rating_star.png">
                                                    <img width="15" height="15" src="https://baggotstreetwines.com/media/email/rating_star.png">
                                                    <img width="15" height="15" src="https://baggotstreetwines.com/media/email/rating_star.png">
                                                    <img width="15" height="15" src="https://baggotstreetwines.com/media/email/rating_star.png">
                                                </a>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top:10px;">
                                                <div>
                                                    <!--[if mso]>
                                                    <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="<?= $product['url']; ?>#reviewform" style="height:35px;v-text-anchor:middle;width:170px;" arcsize="10%" stroke="f" fillcolor="#fe9a00">
                                                    <w:anchorlock/>
                                                    <center>
                                                    <![endif]-->
                                                    <a target="_blank" href="<?= $product['url']; ?>#reviewform" style="background-color:#fe9a00;color:#ffffff;display:inline-block;font-family: Helvetica, Arial, sans-serif;font-weight:bold;line-height:35px;text-align:center;text-decoration:none;width:170px;-webkit-text-size-adjust:none;"><span style="color:white;">Review Now</span></a>
                                                    <!--[if mso]>
                                                    </center>
                                                    </v:roundrect>
                                                    <![endif]-->
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="main" align="center">
                <tr>
                    <td>
                        <hr>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<?php endif; ?>