<?php
?>

<div class="fourohfour-block" style="background:url(<?= $this->getViewFileUrl('images/404-background.png'); ?>);">
    <div class="fourohfour-wrapper section">
        <div class="number">
            <span class="title">404</span>
        </div>
        <div class="subtitle">
            <h3>There’s nothing here…</h3>
        </div>
        <div class="content">
            <p>Help is near! There are many ways you can get back to what you were looking for.</p>
        </div>
        <div class="cta">
            <a class="btn" href="/">BACK TO HOME</a>
            <div class="sep" style="width:20px;height:20px"></div>
            <a class="btn" href="/customer/account/login/">CUSTOMER LOGIN</a>
        </div>
    </div>
</div>
<style>
    .fourohfour-block .btn {
        height: 59px;
        display: block;
        line-height: 54px;
        max-width: 221px;
    }
    .fourohfour-block {
        color:white;
        text-align: center;
    }

    .fourohfour-block h3 {
        color:white;
        margin:0;
    }

    .fourohfour-block p {
        color:white;
    }

    .fourohfour-block .title {
        font-family: 'AbrilFatface';
        color: white;
    }

    @media only screen and (max-width: 1023px) {
        .fourohfour-block .title {
            font-size: 100px;
        }
        .fourohfour-block .cta {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .fourohfour-wrapper {
            padding-bottom: 50px;
        }
    }
    @media only screen and (min-width: 1024px) {
        .fourohfour-block .title {
            font-size: 220px;
            line-height: 220px;
        }
        .fourohfour-block .cta {
            display: flex;
            justify-content:center;
        }
        .fourohfour-wrapper {
            padding-top: 200px;
            padding-bottom: 300px;
        }
    }
</style>