<?php
/** \Annex\Widgets\Block\Widget\CategoryImages $block */

$title_one = $block->escapeHtml($block->getData('title_one'));
$img_one = $block->escapeHtml($block->getData('image_one'));
$link_one = $block->escapeHtml($block->getData('link_one'));

$title_two = $block->escapeHtml($block->getData('title_two'));
$img_two = $block->escapeHtml($block->getData('image_two'));
$link_two = $block->escapeHtml($block->getData('link_two'));

$title_three = $block->escapeHtml($block->getData('title_three'));
$img_three = $block->escapeHtml($block->getData('image_three'));
$link_three = $block->escapeHtml($block->getData('link_three'));

$title_four = $block->escapeHtml($block->getData('title_four'));
$img_four = $block->escapeHtml($block->getData('image_four'));
$link_four = $block->escapeHtml($block->getData('link_four'));
?>

<div class="catimg-block section">
    <div class="catimg-wrapper">
        <?php if (strlen($img_one) > 1) :?>
            <a class="catimg-item one" href="<?= $link_one ?>">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->getBaseUrl() . 'media/' . $img_one ?>">
                <h3><?= $title_one ?></h3>
            </a>
        <?php endif; ?>
        <?php if (strlen($img_two) > 1) :?>
            <a class="catimg-item two" href="<?= $link_two ?>">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->getBaseUrl() . 'media/' . $img_two ?>">
                <h3><?= $title_two ?></h3>
            </a>
        <?php endif; ?>
        <?php if (strlen($img_three) > 1) :?>
            <a class="catimg-item three" href="<?= $link_three ?>">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->getBaseUrl() . 'media/' . $img_three ?>">
                <h3><?= $title_three ?></h3>
            </a>
        <?php endif; ?>
        <?php if (strlen($img_four) > 1) :?>
            <a class="catimg-item four" href="<?= $link_four ?>">
                <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->getBaseUrl() . 'media/' . $img_four ?>">
                <h3><?= $title_four ?></h3>
            </a>
        <?php endif; ?>
    </div>
</div>