<?php
$identifier = $block->escapeHtml($block->getData('delivery_block_identifier'));
$data = [];

for ($x = 1; $x <= 12; $x++) {
    $data[$x] = ["value" => $block->escapeHtml($block->getData('table_value_' . $x)), "weight" => $block->escapeHtml($block->getData('table_weight_' . $x))];
}


?>
<div class="section delivery-one">
    <div class="delivery-one-wrapper">
        <div class="left">
            <div class="rate-box">
                <h4><?= $block->getData('table_title') ?></h4>
                <ul class="plain">
                    <?php foreach($data as $k=>$v): ?>
                        <li class="rate-row">
                            <span class="weight"><?= $v['weight'] ?></span>
                            <span class="value"><?= $v['value'] ?></span>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
            <div class="rate-box">
                <h4>Next Day Delivery - Dublin</h4>
                <p>Next day delivery available for Dublin only.</p>
            </div>
        </div>
        <div class="right">
            <?= $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId($identifier)->toHtml(); ?>
        </div>
    </div>
</div>