<?php
$title = $block->escapeHtml($block->getData('subtitle'));
$subtitle = $block->escapeHtml($block->getData('title'));

?>

<div class="fancytitle-block section">
    <?php if(strlen($title) > 1): ?>
    <div class="fancytitle-title-wrapper">
        <div class="fancytitle-title-lines">
            <div class="line left"></div>
            <h3><?= $subtitle ?></h3>
            <div class="line right"></div>
        </div>
        <h2><?= $title ?></h2>
    </div>
    <?php endif; ?>
</div>