<?php
use Magento\Catalog\ViewModel\Product\Listing\PreparePostData;
use Magento\Framework\App\ActionInterface;

?>

<?php
$relatedHelper = $this->helper(Annex\Helper\Helper\Related::class);
$items = $block->getProductCollection()->getItems();
if(count($items) > 0) {
    $exist = true;
    $type = 'related';
    $class = $type;
    $title = __('Related Products');
    $image = 'related_products_list';
    $limit = 4;
    $shuffle = 0;
    $isWeightedRandom = 0;
    $canItemsAddToCart = true;
    $showAddTo = false;
    $showCart = true;
    $templateType = null;
    $description = false;
} else {
    $exist = false;
}
$_item = null; 
// $viewModel = $relatedHelper->getViewModel();
// echo gettype($viewModel);
?>

<?php if ($exist):?>
<div class="related-products-container category-grid-widget" style="--bgc:<?= $block->getBgColor() ?>">
    <div class="fancytitle-block section">
        <div class="fancytitle-title-wrapper">
        <div class="fancytitle-title-lines">
            <div class="line left"></div>
            <h3><?= $block->getTitle() ?></h3>
            <div class="line right"></div>
        </div>
        <h2><?= $block->getSubtitle() ?></h2>
    </div>
    </div>
<?php if ($type == 'related' || $type == 'upsell'):?>
    <?php if ($type == 'related'):?>
<div class="block section <?= $block->escapeHtmlAttr($class) ?>"
 data-mage-init='{"relatedProducts":{"relatedCheckbox":".related.checkbox"}}'
 data-limit="<?= $block->escapeHtmlAttr($limit) ?>"
 data-shuffle="<?= /* @noEscape */ $shuffle ?>"
 data-shuffle-weighted="<?= /* @noEscape */ $isWeightedRandom ?>">
<?php else:?>
<div class="block <?= $block->escapeHtmlAttr($class) ?>"
     data-mage-init='{"upsellProducts":{}}'
     data-limit="<?= $block->escapeHtmlAttr($limit) ?>"
     data-shuffle="<?= /* @noEscape */ $shuffle ?>"
     data-shuffle-weighted="<?= /* @noEscape */ $isWeightedRandom ?>">
    <?php endif; ?>
    <?php else:?>
    <div class="block <?= $block->escapeHtmlAttr($class) ?>">
        <?php endif; ?>
        <div class="block-content content" aria-labelledby="block-<?= $block->escapeHtmlAttr($class) ?>-heading">
            <div class="products wrapper grid products-<?= $block->escapeHtmlAttr($type) ?>">
                <ol class="plain product-card-grid-related products list items product-items">
                    <?php foreach ($items as $_item):?>
                        <?php if($_item->isSaleable()):?>
                            <?php $available = ''; ?>
                            <?php if (!$_item->isComposite() && $_item->isSaleable() && $type == 'related'):?>
                                <?php if (!$_item->getRequiredOptions()):?>
                                    <?php $available = 'related-available'; ?>
                                <?php endif; ?>
                            <?php endif; ?>
                            <?php if ($type == 'related' || $type == 'upsell'):?>
                                <li class="product-card item product product-item"
                                id="product-item_<?= /* @noEscape */ $_item->getId() ?>"
                                data-shuffle-group="<?= $block->escapeHtmlAttr($_item->getPriority()) ?>" >
                                <?= /* @noEscape */ $secureRenderer->renderStyleAsTag(
                                    'display:none;',
                                    'li#product-item_' . $_item->getId()
                                ) ?>
                            <?php else:?>
                                <li class="item product product-item">
                            <?php endif; ?>
                            <div class="product-card-shadow">
                                <div class="product-card-content product-item-info <?= /* @noEscape */ $available ?>">
                                    <?php $productImage = $block->getImage($_item, $image);?>
                                    <a href="<?= $escaper->escapeUrl($_item->getProductUrl()) ?>" class="product photo product-item-photo" tabindex="-1">
                                        <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->escapeUrl($productImage->getImageUrl()); ?>?height=370&width=320&func=fit" alt="product photo"/>
                                    </a>
                                    <div class="product-card-details product details product-item-details">
                                        <strong class="product name product-item-name"><a
                                                    class="product-item-link"
                                                    title="<?= $block->escapeHtmlAttr($_item->getName()) ?>"
                                                    href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>">
                                                <?= $block->escapeHtml($_item->getName()) ?></a>
                                        </strong>

                                        <?= /* @noEscape */ $block->getProductPrice($_item) ?>

                                        <?php if ($templateType):?>
                                            <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                        <?php endif; ?>
                                        <div class="desc">
                                            <?php
                                            $short_desc = $this->helper(Magento\Catalog\Helper\Output::class)->productAttribute(
                                                $_item,
                                                $_item->getShortDescription(),
                                                'short_description'
                                                );
                                            $one = implode('',array_slice(preg_split('/([\s,\.;\?\!]+)/', $short_desc, 12*2+1,PREG_SPLIT_DELIM_CAPTURE),0,12*2-1));
                                            ?>
                                            <p><?= $one ?></p>
                                        </div>

                                    </div>
                                    <div class="product-item-inner">
                                    <?php if ($showAddTo || $showCart):?>
                                            <?php // phpcs:disable ?>
                                            <div class="product actions product-item-actions">
                                                <?php if ($showCart):?>
                                                    <div class="actions-primary">
                                                    <?php if ($_item->isSaleable()):?>
                                                        <?php if (!$_item->getTypeInstance()->isPossibleBuyFromList($_item)):?>
                                                            <button
                                                                    class="action tocart primary"
                                                                    data-mage-init='{"redirectUrl": {"url": "<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}' type="button" title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>">
                                                                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                            </button>
                                                        <?php else :?>
                                                            <?php
                                                            /** @var $viewModel PreparePostData */
                                                            $postArray = $relatedHelper->getPostData(
                                                                $block->escapeUrl($block->getAddToCartUrl($_item)),
                                                                ['product' => $_item->getEntityId()]
                                                            );
                                                            $value = $postArray['data'][ActionInterface::PARAM_NAME_URL_ENCODED];
                                                            ?>
                                                            <form data-role="tocart-form"
                                                                data-product-sku="<?= $block->escapeHtmlAttr($_item->getSku()) ?>"
                                                                action="<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"
                                                                method="post">
                                                                <input type="hidden" name="product"
                                                                    value="<?= /* @noEscape */ (int)$_item->getEntityId() ?>">
                                                                <input type="hidden"
                                                                    name="<?= /* @noEscape */ ActionInterface::PARAM_NAME_URL_ENCODED?>"
                                                                    value="<?= /* @noEscape */ $value ?>">
                                                                <?= $block->getBlockHtml('formkey') ?>
                                                                <button type="submit"
                                                                        title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
                                                                        class="action tocart primary">
                                                                    <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                                </button>
                                                            </form>
                                                        <?php endif; ?>
                                                    <?php else:?>
                                                        <?php if ($_item->getIsSalable()):?>
                                                            <div class="stock available">
                                                                <span><?= $block->escapeHtml(__('In stock')) ?></span>
                                                            </div>
                                                        <?php else:?>
                                                            <div class="stock unavailable">
                                                                <span><?= $block->escapeHtml(__('Out of stock')) ?></span>
                                                            </div>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>

                                                <?php if ($showAddTo):?>
                                                    <div class="secondary-addto-links actions-secondary"
                                                        data-role="add-to-links">
                                                        <?php if ($addToBlock = $block->getChildBlock('addto')):?>
                                                            <?= $addToBlock->setProduct($_item)->getChildHtml() ?>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                            <?php // phpcs:enable ?>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                            </li>
                        <?php endif; ?>
                    <?php endforeach ?>
                </ol>
            </div>
        </div>
    </div>
    <?php if (!$block->isRedirectToCartEnabled() && $_item):?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $block->escapeJs($_item->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif;?>
</div>
    <?php endif;?>