<?php
/** \Annex\Widgets\Block\Widget\Hero $block */
$button = (strlen($block->escapeHtml($block->getData('button_link'))) > 1 ? true : false);

?>

<div class="hero-block">
    <div class="hero-image-holder">
        <img class="hero-image" loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->getBaseUrl() . 'media/' . $block->escapeHtml($block->getData('image')) ?>">
        <img class="hero-overlay" loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/<?= $this->getViewFileUrl('images/blue-paint-overlay.svg'); ?>">
    </div>
    <div class="hero-content-holder">
        <div class="hero-content-wrapper">
            <div class="hero-title-holder">
                <h1 class="hero-title"><?= $block->escapeHtml($block->getData('title')) ?></h1>
            </div>
            <div class="hero-sub-holder">
                <p class="hero-subtitle"><?= $block->escapeHtml($block->getData('subtitle')) ?></p>
                <?php if($button): ?>
                <a class="hero-button btn" href="<?= $block->escapeHtml($block->getData('button_link')) ?>"><?= $block->escapeHtml($block->getData('button_text')) ?></a>
                <?php endif ?>
            </div>
        </div>
    </div>
</div>