<?php

$data = [];

for ($x = 1; $x <= 3; $x++) {
    $data[$x] = ["icon" => $block->escapeHtml($block->getData('icon_' . $x)), "text" => $block->escapeHtml($block->getData('text_' . $x))];
}

?>

<div class="iconusp-holder hide-mobile">
    <ul class="plain iconusp-list section">
        <?php foreach($data as $k => $v): ?>
            <li class="iconusp-item">
                <span style='--uspicon:"<?= $v['icon'] ?>";'><?= $v['text'] ?></span>
            </li>
        <?php endforeach; ?>
    </ul>
</div>