<?php
/** \Annex\Widgets\Block\Widget\ImageMozaic $block */

$data = [];

for ($x = 1; $x <= 8; $x++) {
    $image = $block->escapeHtml($block->getData('image_' . $x));
    if(strlen($image) > 1) {
        $data[$x] = $image;
    }
}
$count = count($data);
if($count != 0) {
    $maxw = 92 / $count;
}
?>
<?php if($count > 0): ?>
<div class="iconblock-block section">
    <div class="iconblock-wrapper">
    <?php foreach ($data as $v):?>
        <div class="iconblock-item" style="--mwd:<?= $maxw ?>">
            <div class="iconblock-content">
                <img loading="lazy" src="media/<?= $v ?>">
            </div>
        </div>
    <?php endforeach; ?>
    </div>
</div>
<?php endif; ?>