<?php
/** \Annex\Widgets\Block\Widget\ImageMozaic $block */

$data = [];

for ($x = 1; $x <= 4; $x++) {
    $data[$x] = [
        "image" => $block->escapeHtml($block->getData('image_' . $x)),
        "content" => $block->escapeHtml($block->getData('content_' . $x))
    ];
}
?>

<div class="imgcard-block section">
    <div class="imgcard-wrapper">
    <?php foreach ($data as $k => $v):?>
        <div class="imgcard-item">
            <div class="imgcard-content">
                <img loading="lazy" src="media/<?= $v["image"] ?>">
            </div>
            <div class="imgcard-author">
                <span><?= $v["content"] ?></span>
            </div>
        </div>
    <?php endforeach; ?>
    </div>
</div>