<?php
/** \Annex\Widgets\Block\Widget\CategoryImages $block */

$image = $block->escapeHtml($block->getData('image'));
$title_one = $block->escapeHtml($block->getData('title_one'));
$title_two = $block->escapeHtml($block->getData('title_two'));
$content = $block->escapeHtml($block->getData('content'));
$button_text = $block->escapeHtml($block->getData('button_text'));
$button_link = $block->escapeHtml($block->getData('button_link'));

$bg_color = $block->escapeHtml($block->getData('bg_color'));
$order = $block->escapeHtml($block->getData('order'));
?>

<div class="imgtxt-block section">
    <div class="imgtxt-wrapper <?= $order ?>">
        <div class="imgtxt-img-holder">
            <img loading="lazy" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->getBaseUrl() . 'media/' . $image ?>"?>
        </div>
        <div class="imgtxt-txt-holder <?= $bg_color ?>" style="background:url('https://aonndpeydo.cloudimg.io/v7/<?= $this->getViewFileUrl('images/whitewaves.svg'); ?>'), <?= $bg_color ?>; background-repeat: no-repeat;background-position: bottom right;">
            <div class="imgtxt-title-holder">
                <div class="imgtxt-title-lines">
                    <div class="line left"></div>
                    <h3><?= $title_one ?></h3>
                    <div class="line right"></div>
                </div>
                <h2><?= $title_two ?></h3>
            </div>
            <p><?= $content?></p>
            <div class="imgtxt-button-holder">
                <a class="btn" href="<?= $button_link?>">
                    <span><?= $button_text ?></span>
                </a>
            </div>
        </div>
    </div>
</div>