<?php
/** \Annex\Widgets\Block\Widget\ImageMozaic $block */
$data = [];

for ($x = 1; $x <= 5; $x++) {
    $data[$x] = [
        "mobile" => $block->escapeHtml($block->getData('mob_img_' . $x)),
        "desktop" => $block->escapeHtml($block->getData('desk_img_' . $x)),
        "link" => $block->escapeHtml($block->getData('link_' . $x))
    ];
}
?>

<div class="imgmoz-block section">
    <div class="imgmoz-wrapper">
    <?php foreach ($data as $k => $v):?>
        <div class="imgmoz-item i<?= $k ?>">
            <a href="<?= $v['link'] ?>">
                <img loading="lazy" class="desk hide-mobile" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->getBaseUrl() . 'media/' . $v['desktop'] ?>">
                <img loading="lazy" class="mob hide-desktop" src="https://aonndpeydo.cloudimg.io/v7/<?= $block->getBaseUrl() . 'media/' . $v['mobile'] ?>">
            </a>
        </div>
    <?php endforeach; ?>
    </div>
</div>