<?php
/** \Annex\Widgets\Block\Widget\ImageMozaic $block */

$data = [];
$title = (strlen($block->escapeHtml($block->getData('title_two'))) > 1 ? true : false);
for ($x = 1; $x <= 3; $x++) {
    $data[$x] = [
        "content" => $block->escapeHtml($block->getData('review_' . $x)),
        "author" => $block->escapeHtml($block->getData('author_' . $x))
    ];
}
?>

<div class="revshow-block section <?= ($title ? 'title' : '') ?>">
    <?php if($title): ?>
    <div class="revshow-title-wrapper">
        <div class="revshow-title-lines">
            <div class="line left"></div>
            <h3><?= $block->escapeHtml($block->getData('title_one')) ?></h3>
            <div class="line right"></div>
        </div>
        <h2><?= $block->escapeHtml($block->getData('title_two')) ?></h2>
    </div>
    <?php endif; ?>
    <div class="revshow-wrapper">
    <?php foreach ($data as $k => $v):?>
        <div class="revshow-item">
            <div class="revshow-stars">
                <div title="5 out of 5 Stars" class="large stars" style="--rating: 5"></div>
            </div>
            <div class="revshow-content">
                <span><?= $v["content"] ?></span>
            </div>
            <div class="revshow-author">
                <span><?= $v["author"] ?></span>
            </div>
        </div>
    <?php endforeach; ?>
    </div>
</div>