<?php
/** \Annex\Widgets\Block\Widget\ImageMozaic $block */

$helper = $this->helper(Annex\Helper\Helper\Product::class);

$data = [];
$staff_params = ['image', 'bio', 'expertise', 'name'];
$fav_type = ['beer' => 'Beer', 'redwine' => 'Red Wine', 'whitewine' => 'White Wine', 'bubbles' => 'Bubbles', 'spirit' => 'Spirit', 'whiskey' => 'Whiskey'];

for ($x = 1; $x <= 2; $x++) {
    $data[$x]['favs'] = [];
    foreach($staff_params as $param) {
        $param_value = $block->getData($param . "_" . $x);
        if($param == "expertise") {
            if(strlen($param_value) > 1) {
                $exs = explode(",", $param_value);
                foreach($exs as $ex) {
                    $data[$x][$param][str_replace("_", " ", $ex)] = $this->getViewFileUrl('images/icons/'. $ex .'.svg');
                }
            } else {
                $data[$x][$param] = false;
            }
        } else {
            $data[$x][$param] = $param_value;
        }

    }

    foreach($fav_type as $k=>$v) {
        $fav_prod =  $helper->getTheProduct($block->getData($k . "_" . $x));
        if($fav_prod) {
            array_push($data[$x]['favs'], [
                'type' => $v,
                'name' => $fav_prod->getName(),
                'url'  => $fav_prod->getProductUrl()
            ]);
        }
    }

    if(count($data[$x]['favs']) == 0) {
        $data[$x]['favs'] = false;
    }

    if(strlen($data[$x]['name']) < 1) {
        unset($data[$x]);
    }
}

?>

<div class="staffblock-block section">
    <div class="staffblock-wrapper">
        <?php foreach($data as $staff): ?>
        <div class="staffblock-item">
            <div class="staffblock-image-holder">
                <img loading="lazy" src="media/<?= $staff['image'] ?>">
            </div>
            <div class="staffblock-content-holder">
                <span class="name"><?= $staff['name'] ?></span>
                <p><?= $staff['bio'] ?></p>
            </div>
            <?php if($staff['expertise']): ?>
            <div class="staffblock-expertise-holder">
                <h4>Expertise</h4>
                <ul class="plain staffblock-expertise-list">
                    <?php foreach($staff['expertise'] as $k=>$v): ?>
                        <li class="staffblock-expertise-item">
                            <img src="<?= $v ?>">
                            <div class="staffblock-expertise-title">
                                <strong style="font-size:16px;text-transform:capitalize;"><?= $k ?></strong>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
            <?php endif; ?>
            <?php if($staff['favs']): ?>
            <div class="staffblock-fav-holder">
                <h4>Shop <?= $staff['name'] ?>'s Favourites</h4>
                <table class="data table additional-attributes attr-list bot" id="product-attribute-specs-table">
                    <tbody class="tbody">
                        <?php foreach($staff['favs'] as $fav): ?>
                        <tr class="attr-item bot">
                            <th class="col label attr-label bot" scope="row" width="25%">
                                <span class="clamp d1 m1"><?= $fav['type'] ?></span>
                            </th>
                            <td class="col data attr-value bot" data-th="<?= $fav['type'] ?>">
                                <a href="<?= $fav['url'] ?>" title="<?= $fav['type'] ?>"><?= $fav['name'] ?></a>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            <?php endif; ?>
        </div>
        <?php endforeach ?>
    </div>
</div>
