<?php
$title = $block->escapeHtml($block->getData('title'));
$subtitle = $block->escapeHtml($block->getData('subtitle'));
$bg_color = $block->escapeHtml($block->getData('bg_color'));

?>

<div class="category-content-holder" style="--bg-color:<?= $bg_color ?>;background-image:url(<?= $this->getViewFileUrl('images/category-header-lines.png'); ?>);">
    <div class="category-content">
        <div class="category-title-holder section">
            <h1 class="category-title"><?= $title ?></h1>
        </div>
    </div>
    <div class="category-description-holder section">
        <div class="category-description">
            <p><?= $subtitle ?></p>
        </div>
    </div>
</div>